<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BTLMobile">
        <activity
            android:name=".activities.DangNhapActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.DangKyActivity"/>
        <activity android:name=".activities.AdminActivities"/>
        <activity android:name=".activities.UserActivities"/>
        <activity android:name=".activities.QLTaiKhoanActivity"/>
        <activity android:name=".activities.QLTuVungActivity"/>
        <activity android:name=".activities.QLNguPhapActivity"/>
        <activity android:name=".activities.QLChiTietTuVungActivity"/>
        <activity android:name=".activities.QLQuizActivity"/>
        <activity android:name=".activities.UserProfileActivity"/>
        <activity android:name=".activities.QLLuyenNgheActivity"/>
        <activity android:name=".activities.ThongKeActivity"/>
        <activity android:name=".activities.NguPhapDetailActivity"/>
        <activity android:name=".activities.HocNguPhapActivity"/>
        <activity android:name=".activities.LamQuizActivity"/>
        <activity android:name=".activities.QLCauHoiQuizActivity"/>
        <activity android:name=".activities.HocTuVungActivity"
            android:label="Học từ vựng"/>
        <activity android:name=".activities.HocChiTietTuVungActivity"
            android:label="Chi tiết từ vựng"/>
        <activity android:name=".activities.TuVungYeuThichActivity"
            android:label="Từ vựng đã lưu"/>

    </application>

</manifest>